@model Order

@if (ViewBag.IsBlocked == true)
{
    <div class="text-center alert alert-danger">
        ❌ به دلیل بدهی
        <strong>@ViewBag.TotalFine</strong>
        هزار تومان، امکان خرید ندارید.لطفاً ابتدا بدهی خود را تسویه کنید.
    </div>
    <a asp-controller="Payment" asp-action="Pay" asp-route-type="Fine"
       class="btn btn-danger">
        پرداخت بدهی
    </a>
}
else{
<h2 class="mb-4">🛒 سبد خرید</h2>

@if (Model == null || Model.OrderItems == null || !Model.OrderItems.Any())
{
    <p>سبد خرید شما خالی است.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>عکس</th>
                <th>کتاب</th>
                <th>تعداد</th>
                <th>قیمت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>
                        <img src="/img/@(item.Book.Id).jpg"
                             style="width:60px;height:90px;object-fit:cover" />
                    </td>
                    <td>@item.Book.Name</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity* item.Price) تومان</td>
                    <td>
                        <a asp-action="RemoveItem"
                           asp-route-itemId="@item.Id"
                           class="btn btn-danger btn-sm">
                            حذف
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        @if (ViewBag.IsPremium==true)
        {
            <div class="text-center alert alert-success">
                کاربر گرامی به دلیل داشتن اشتراک فعال،
                تخفیف 20 درصدی بر سبد خرید شما اعمال شده است!
            </div>
        }
    <h4>
        جمع کل:
        @Model.OrderItems.Sum(i => i.Quantity * i.Price) تومان
    </h4>

    @if (User.IsInRole("User") && ViewBag.IsPremium == true)
    {
        <div class="mb-1">
        <span class="badge bg-success mb-1">🎉 ۲۰٪ تخفیف اشتراک ویژه اعمال شده</span>
        </div>
    }
        <a asp-controller="Payment" asp-action="Pay" asp-route-type="Order"
           asp-route-id="@Model.Id"
           class="btn btn-success">پرداخت
        </a>
}
}