@model List<Book>
@{
    var activeBorrows = ViewBag.ActiveBorrows as List<Borrow>;
}

@if (ViewBag.IsBlocked == true)
{
    <div class="text-center alert alert-danger">
        ❌ حساب شما به دلیل بدهی
        <strong>@ViewBag.TotalFine</strong>
        هزار تومان مسدود شده است. لطفاً ابتدا بدهی خود را تسویه کنید.
    </div>
    <a asp-controller="Payment" asp-action="Pay" asp-route-type="Fine"
       class="btn btn-danger">پرداخت بدهی
    </a>
}
else{
<h2>📚 امانت‌های در انتظار ثبت</h2>

@if (!Model.Any())
{
    <p>کتابی برای امانت انتخاب نشده است.</p>
}
else
{
    <table class="table">
        <tr>
            <th>کتاب</th>
            <th>عملیات</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>
                    <form asp-action="RemoveFromBorrow"
                          method="post"
                          style="display:inline;">
                        <input type="hidden" name="bookId" value="@book.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            حذف
                        </button>
                    </form>

                </td>
            </tr>
        }
    </table>
        @if (ViewBag.IsPremium == true)
        {
            <div class="text-center alert alert-success">
                کاربر گرامی به دلیل داشتن اشتراک فعال، برای امانت اولیه
                به جای دو هفته، می‌توانید به مدت یک ماه کتاب مدنظر خود را امانت بگیرید!
            </div>
        }
    <form asp-action="ConfirmBorrows" method="post">
        <button class="btn btn-success">
            ثبت نهایی امانت
        </button>
    </form>
}

<hr />

<h3>📌 امانت‌های فعال من</h3>

@if (activeBorrows == null || !activeBorrows.Any())
{
    <p>امانت فعالی ندارید.</p>
}
else
{
    <table class="table">
        <tr>
            <th>کتاب</th>
            <th>تاریخ تحویل</th>
            <th>تمدید</th>
        </tr>
        @foreach (var b in activeBorrows)
        {
            <tr>
                <td>@b.Book.Name</td>
                <td>@b.DueDate.ToString("yyyy/MM/dd")</td>
                <td>
                    @if (b.RenewedCount < 2)
                    {
                        <a asp-action="RenewBorrow"
                        asp-route-id="@b.Id" class="btn btn-warning btn-sm">
                            تمدید
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
}
}
<a asp-action="Reserves"
   asp-controller="Home"
   class="btn btn-info mb-3">
    📌 رزروهای من
</a>
